# Virtual environment
env/
venv/

# Python
__pycache__/
*.py[cod]

# Database
db.sqlite3

# Environment variables
.env

# VS Code
.vscode/

# Static/media collected during deployment
staticfiles/
media/

# OS files
.DS_Store
Thumbs.db